/*Google Fonts*/

@font-face {
    font-family: 'Merryweather-Regular';
    font-style: normal;
    src: url("./Fonte/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: 'Merryweather-Bold';
    font-style: normal;
    src: url("./Fonte/Merriweather/Merriweather-Bold.ttf");
}

@font-face {
    font-family: 'Crimson-Pro-regular';
    font-style: normal;
    src: url("./Fonte/Crimson_Pro/static/CrimsonPro-Regular.ttf");

}

body::-webkit-scrollbar {
    display: none;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #211E1B;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, a {
    font-family: 'Merryweather-Bold', normal;
}

p {
    font-family: 'Crimson-Pro-regular', normal;
}


#container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    gap: 2rem;
}

main {
    flex: 1;
}

#main-div {
    min-height: 80dvh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    background-color: transparent;
    
}

#header-logo {
    height: 100px;
    background-color: transparent;
    filter:invert(100%) sepia(0%) saturate(7500%) hue-rotate(70deg) brightness(99%) contrast(107%);
}

#header-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    color: white;
}


.pretty-button {
    background-color: #F1B356;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    width: 100px;
}

.pretty-button:hover {
    background-color: transparent;  
    color: white;
}

/*dropdown*/

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*header*/

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

/*arrow*/
.arrow {
    margin-left: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

/*footer*/

#footer-content {
    height: 40dvh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;
    color: black;
    padding: 5rem;
    text-align: center;
}

.footer-text {
    color: #CCC4BC;
}

/*main*/

#front-div-1, #front-div-2, #front-div-3 {
    display: flex;
    justify-content: start;
    align-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;

}

#front-content-div {
    color: white;
}

.front-content {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

#front-div-1 {
    width: 100%;
    height: 100dvh;
    background-image: url('./mainsite-waiter.jpg');
    background-size: cover;
}



#front-div-2 {
    height: 100dvh;
    background-image: url('./mainsite-food.jpg');
    background-size: cover;
}

#front-div-3 {
    height: 100dvh;
    background-image: url('./mainSite-interior01.jpg');
    background-size: cover;
}

/*menu*/


.item-name {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.item-ingredients {
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.item-price {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

/*gallery*/

.gallery-div {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    max-width: 80dvw;
    height: 75dvh;
    gap: 30px;
}

.gallery-top {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery-main {
    max-height: 70dvh;
    min-width: 80dvh;
    display: flex;
    justify-content: center;
}


.modal img {
    max-width: 100%;
    min-width: 80dvh;
    max-height: 100%;

}

.gallery-top img {
    min-width: 50px;
    height: 100%;
    object-fit: cover;
}

/*contact*/

#kontakt-container {
    height: 80dvh;
    display: flex;
    align-items: center;
    gap: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

#kontakt-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 500px;
    background-color: #211E1B;
    color: white;

}

#kontakt-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #211E1B;
    color: white;
}

#kontakt-form-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #211E1B;
    color: white;

}
#kontakt-title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

#kontakt-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#kontakt-form textarea {
    height: 200px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#kontakt-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 50%;
    background-color: #211E1B;
    color: white;
}